.component1 {
    color: green;
    display: flex;
    flex-direction: column;
    background: transparent radial-gradient(farthest-side at 30px 2em, red, transparent),
    linear-gradient(hsl(230, 45%, 86%), transparent 3em, peachpuff);
}
